:root {
    --discordblue: #7289da;
    --discordLgray: #424549;
    --discordMgray: #36393e;
    --discordDgray: #282b30;
    --discordblack: #1e2124;
}

.creator-ctn {
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.creator-category {
    height: 300px;
    width: 430px;
    border: 2px solid var(--discordblue);
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creator-top {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #7289da;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    text-shadow: 1px 2px #1e2124;
    cursor: pointer;
}

button:active {
    background-color: green;
}

.cat-input {
    height: 120px;
    width: 90%;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 5px 10px black;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.cat-name,
.front-side,
.back-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
