.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border: thin solid black;
    border-radius: 30px;
    background-color: var(--mid-grey);
    padding: 2rem;
    width: 25%;
    height: 50%;
    font-family: 'Arial', 'Times New Roman';
}

.commands-list{
    width: 100%;
    margin: 10px;
}

.command-list-item{    
    padding: 12px;
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    border: thin solid black;
    font-size: 0.95rem;
    margin: 5px;
    text-align: center;
    fit-content;
    background-color:var(--lightest-grey);
}

.copied-message {
    color: #33F12C;
    font-size: 1rem;
    transition: all 1s;
    padding: 5px;
    position: absolute;
}

#copyButton {
    margin: 5px;
}
