.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: thin solid black;
    border-radius: 30px;
    background-color: var(--mid-grey);
    padding: 2rem;
    width: 50%;
    font-family: 'Arial', 'Times New Roman'
}

.commands-list{
    gap: 2 rem;
    background-color: var(--dark-grey);
    width: 100%;
}

.command-list-item{    
    height: 100%;
    width: 100%;
    fit-content;
    er: 2p solid black;
    background-color:var(--lightest-grey);
}

.copied-message{
   color: #33F12C;
   transition: all 1s;
}