:root {
    --discordblue: #7289da;
    --discordLgray: #424549;
    --discordMgray: #36393e;
    --discordDgray: #282b30;
    --discordblack: #1e2124;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
::-webkit-scrollbar-thumb:active {
    background: #333;
}

/*BEGINNING of CSS for flashcard-ctn and flashcard and all elements */
.flashcard-ctn {
    display: flex;
    flex-direction: column;
    height: 740px;
    width: 100%;
    background-color: rgba(30, 33, 36, .7);
    color: white;
    align-items: center;
    overflow: auto;
    margin-top: 30px;
}

.card-ctn {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

.flashcard {
    min-height: 200px;
    max-height: min-content;
    min-width: 300px;
    max-width: 450px;
    background-color: var(--discordDgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid var(--discordblue);
    border-radius: 15px;
    justify-content: space-around;
    box-shadow: 1px 1px 10px black;
}

.definition {
    font-size: 27px;
    margin: 1.5em;
    text-shadow: 1px 1px 3px var(--discordblue);
}
.word {
    font-size: 25px;
    text-shadow: 3px 1px 3px var(--discordblue);
    text-shadow: 1px 1px 3px var(--discordblue);
}
 
.flashcard > div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.flashcard-btn-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    height: 70px;
    align-items: center;
}
  
.arrow {
    color: var(--discordblue);
    font-size: 20px;
    cursor: pointer;
    transition: color .5s ease;
}
.arrow:hover {
    color: white;
}
.answer-btn {
    background-color: var(--discordMgray);
    border: none;
    height: 40px;
    width: 110px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    cursor: pointer;
    transition: color, background-color .5s ease;
    font-size: 25px;
}
.answer-btn:hover {
    background-color: var(--discordblue);
}
.answer-btn:active {
    background-color: rgb(60, 138, 60);
}

.pin {
    font-size: 50px;
    color: var(--discordMgray);
    cursor: pointer;
    transition: color .5s ease;
}
.pin:hover {
    color: crimson;
}
.pin:active {
    color: crimson;
}

.check-square {
    font-size: 40px;
    color: #424549;
    transition: color, background-color .5s ease;
    cursor: pointer;
    border-radius: 7px;
}
.check-square:hover {
    color: white;
    background-color: green;
}
.check-square:active {
    color: white;
    background-color: green;
}
/*END of CSS for flashcard-ctn and flashcard and all elements */

.SearchBar {
    background-color: #424549;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.SearchBar > input {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 250px;
    font-size: 20px;
}
.SearchBar > input::placeholder {
    color: gray;
    text-indent: .5em;
}

.BsSearch {
    font-size: 20px;
    margin-top: 10px;
    margin-right: .5em;
}
