:root {
    --discordblue: #7289da;
    --discordLgray: #424549;
    --discordMgray: #36393e;
    --discordDgray: #282b30;
    --discordblack: #1e2124;
}

.flashcard-categories-ctn {
    height: 100px;
    width: 100px;
    border: 1px solid white;
}